<style>

.auth_sl { color: #000000; font-weight: bold; text-decoration: none; font-size: 16px; }

</style>

<% form_for :server, @server, :url => { :action => action, :id => @server.mask } do |f| %>
	<%= f.error_messages %>
	
	<div style="margin-left: auto; margin-right: auto; width: 600px;">
	<h3>Basic Information</h3>

	<table id="register" style="left: 0px; margin-left: 0px; width: 100%;">
		<tr>
			<td class="keyword"><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td></td>
			<td>A name to distinguish this server in your account.</td>
		</tr>
		<tr>
			<td class="keyword"><%= f.label :hostname %></td>
			<td><%= f.text_field :hostname %></td>
		</tr>
		<tr>
			<td class="keyword"><%= f.label :server_type %></td>
			<td><%= f.select(:server_type, Server::TYPES) %></td>
		</tr>
		<tr>
			<td class="keyword" style="vertical-align: top;"><%= f.label :description %></td>
			<td><%= f.text_area :description, :rows => 4 %></td>
		</tr>
		<tr valign="top">
			<td class="keyword" style="vertical-align: top;"><%= f.label :hosting %></td>
			<td>
				<%= f.text_area :md_hosting, :rows => 5 %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				Where is this server hosted?
			</td>
		</tr>
	</table>
	</div>
	
	<div style="margin-left: auto; margin-right: auto; width: 600px;">
	<h3>IP Addresses</h3>
	
	<table id="register" style="left: 0px; margin-left: 0px; width: 100%;">
		<tr valign="top">
			<td class="keyword"><label>IP Addresses:</label></td>
			<td><%= f.text_area :md_ip_addresses, :rows => 5 %></td>
		</tr>
		<tr>
			<td></td>
			<td><div id="ip_addresses_validation"></div></td>
		</tr>
	</table>
	
	<%= observe_field 'server_md_ip_addresses',
					  :url => { :action => 'validate_ip_addresses' },
					  :with => "'server_id=#{@server[:mask]}&ip_addresses=' + encodeURIComponent(value)" %>
	</div>
	
	<div style="margin-left: auto; margin-right: auto; width: 600px;">	
	<h3>Authentication</h3>
	
	<table id="register" style="left: 0px; margin-left: 0px; width: 100%;">
		<tr>
			<td>
				<%= link_to_function 'FTP', 'set_apage("ftp")', :id => 'auth_link_ftp' %> |
				<%= link_to_function 'SSH', 'set_apage("ssh")', :id => 'auth_link_ssh' %> |
				<%= link_to_function 'Control Panel', 'set_apage("control_panel")', :id => 'auth_link_control_panel' %> |
				<%= link_to_function 'Hosting', 'set_apage("hosting")', :id => 'auth_link_hosting' %> |
				<%= link_to_function 'Others', 'set_apage("others")', :id => 'auth_link_others' %>
			</td>
		</tr>
		<tr>
			<td>
				<div id="auth_div_ftp" style="display: none;">
					<table>
						<tr>
							<td class="keyword">Hostname/IP:</td>
							<td class="value"><%= f.text_field :md_ftp_hostname %>
						</tr>
						<tr>
							<td class="keyword">Username:</td>
							<td class="value"><%= f.text_field :md_ftp_username %>
						</tr>
						<tr>
							<td class="keyword">Password:</td>
							<td class="value"><%= f.password_field :md_ftp_password %>
						</tr>
						<tr>
								<td class="keyword">Comments:</td>
								<td class="value"><%= f.text_area :md_ftp_comments, :rows => 3, :cols => 30 %>
						</tr>
					</table>
					
					&nbsp;
					
					<center><%= button_to_function "Apply", 'set_apage("")' %></center>
				</div>
				<div id="auth_div_ssh" style="display: none;">
					<table>
						<tr>
							<td class="keyword">Hostname/IP:</td>
							<td class="value"><%= f.text_field :md_ssh_hostname %>
						</tr>
						<tr>
							<td class="keyword">Username:</td>
							<td class="value"><%= f.text_field :md_ssh_username %>
						</tr>
						<tr>
							<td class="keyword">Password:</td>
							<td class="value"><%= f.password_field :md_ssh_password %>
						</tr>
						<tr>
							<td colspan="2" class="value_comment">
								Prefer key-based authentication? So do we! <%= link_to_function 'Click here for information on setting it up', 'show_sshkey();' %>
							</td>
						</tr>
						<tr>
								<td class="keyword">Comments:</td>
								<td class="value"><%= f.text_area :md_ssh_comments, :rows => 3, :cols => 30 %>
						</tr>
					</table>
					
					&nbsp;
					
					<center><%= button_to_function "Apply", 'set_apage("")' %></center>
				</div>
				<div id="auth_div_control_panel" style="display: none;">
					<p>Use this to provide information for control panels such as Plesk, Webmin, cPanel, Virtualmin, etc.</p>
					
					<table>
						<tr>
							<td class="keyword">URL:</td>
							<td class="value"><%= f.text_field :md_control_panel_url %>
						</tr>
						<tr>
							<td class="keyword">Username:</td>
							<td class="value"><%= f.text_field :md_control_panel_username %>
						</tr>
						<tr>
							<td class="keyword">Password:</td>
							<td class="value"><%= f.password_field :md_control_panel_password %>
						</tr>
						<tr>
								<td class="keyword">Comments:</td>
								<td class="value"><%= f.text_area :md_control_panel_comments, :rows => 3, :cols => 30 %>
						</tr>
					</table>
					
					&nbsp;
					
					<center><%= button_to_function "Apply", 'set_apage("")' %></center>
				</div>
				<div id="auth_div_hosting" style="display: none;">
					<table>
						<tr>
							<td class="keyword">URL:</td>
							<td class="value"><%= f.text_field :md_hosting_url %>
						</tr>
						<tr>
							<td class="keyword">Username:</td>
							<td class="value"><%= f.text_field :md_hosting_username %>
						</tr>
						<tr>
							<td class="keyword">Password:</td>
							<td class="value"><%= f.password_field :md_hosting_password %>
						</tr>
						<tr>
								<td class="keyword">Comments:</td>
								<td class="value"><%= f.text_area :md_hosting_comments, :rows => 3, :cols => 30 %>
						</tr>
					</table>
					
					&nbsp;
					
					<center><%= button_to_function "Apply", 'set_apage("")' %></center>
				</div>
				<div id="auth_div_others" style="display: none;">
					<p>Have some other form of authentication we should know about?</p>
					
					<%= f.text_area :md_others_comments, :rows => 5, :cols => 50 %>
					
					<table>
						<tr>
							<td class="keyword">Password:</td>
							<td class="value"><%= f.password_field :md_others_password %>
						</tr>
						<tr>
							<td class="value_comment" colspan="2">
								Need to provide a password? You can use this password field.
							</td>
						</tr>
					</table>
					
					&nbsp;
					
					<center><%= button_to_function "Apply", 'set_apage("")' %></center>
				</div>
			</td>
		</tr>
	</table>
	</div>
	
	<div style="margin-left: auto; margin-right: auto; width: 600px;">
	<div class="buttons" style="text-align: center; padding-top: 50px;"><%= f.submit "Submit" %></div>
	</div>
<% end %>

<div id="sshkeydiv" style="position: fixed; min-width: 600px; margin-left: -320px; z-index: 1000; top: 25%; left: 50%; right: 50%; background-color: white; border: solid #cccccc 1px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 20px; display: none;">
<p>This is our SSH key, you can install it in <tt>$HOME/.ssh/authorized_keys</tt>:</p>
<pre style="word-wrap: break-word;">
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAp5vHutJaVoJ5MF8Wq+Jrij3AhXg4BMZMiYqbXZUk3ib94T
HU4DlhQmNeBp2DmliQmtsjPuPqNgEX7xSjbeurfZHPvqPv0a5HLtG6TYpYVoarhpNZJkVT3wLBnC7L+HxN
m+35MvGLLDr+aA0DSlNScwECrIS6Z1y/WTrlF5FHFl9BZoxQPqDilNJVaRx1YZCRSkdpkjR3b5ip7qYRFJ
YA9X+2E2fz9bT8MxFsz5GIUPX5Fcc/i6eCgWrVob7lInjqBrhJ9sKkkR9gW7UhaOrDwgJZM22MIh9k8lM7
UEx/tgxfgJytWVfUhd4KxjCCYFR34nCjJpzrfVdYh9YGi42tXw== serverprotectors
</pre>
<div>

<script>
var auth_sl = "";

function set_apage(name)
{
	if (name == "" && auth_sl != "") {
		$('auth_link_' + auth_sl).className = '';
		$('auth_div_' + auth_sl).style.display = 'none';
		auth_sl = "";
	}
	
	l = $('auth_link_' + name);
	if (auth_sl != "") { sl = $('auth_link_' + auth_sl); }
	
	l.className = 'auth_sl';
	if (auth_sl != "") { sl.className = ''; }
	
	if (name != auth_sl) {
		if (auth_sl != "") {
			$('auth_div_' + auth_sl).style.display = 'none';
		}
		$('auth_div_' + name).style.display = 'inline';
	}
	
	auth_sl = name;

}

function show_sshkey()
{
	<%= visual_effect :appear, :sshkeydiv %>
	<%= visual_effect :appear, :shadow %>
}

function hide_shadow()
{
	<%= visual_effect('fade', 'sshkeydiv') %>
	<%= visual_effect('fade', 'shadow') %>
}

</script>

